@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-lg p-5 border-0 bg-light rounded-4">
        <div class="card-body text-center">
            <h1 class="display-3 text-primary fw-bold">Área do Financeiro</h1>
            <hr class="my-4 border-primary opacity-75">
            <p class="lead text-muted mt-3">
                Bem-vindo à área Financeira! Aqui, cuidamos da saúde financeira da empresa, gerenciamos investimentos,
                orçamentos e garantimos a transparência e eficiência nos processos financeiros.
            </p>
            <div class="mt-4">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg px-4 shadow">Ínicio </a>
            </div>
        </div>
    </div>
</div>
